<html>
    <head>
        <title>Vue Begin</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    </head>
    <body>
        <div id="vue-app">
            <h1> {{ greetings('Night') }} </h1>
            <p>Your Name is : {{ name }}</p>
            <p>You work as {{ job }}</p>
            <p>Your website is <a v-bind:href="website">My Sports</a></p>
            <input type="text" v-bind:value="name">
            <p v-html="websiteTag"></p>
        </div>
        <script src="js/app.js"></script>
    </body>
</html>